  <div class="container">
      <div class ='col-sm-5 ' style="background-color:#F6F4F4; margin-top:30px; border-radius:20px; width: 80%; float:left">
        <div  style='padding-top:30px; margin-bottom: 20px; width:10%; float:left;'>
          <img src='assets/profile.jpg' width =120 height=120 >
        </div>
        <div  style='padding-top:30px; width:100%; padding-left: 130px;'>
          <h5  style="padding-left:0;">{{profile.fullName}}
            <button *ngIf= "!myPage && friends"  style= "margin-top: 10px;float:right" class="btn btn-sm btn-outline-primary">Add Friend</button>
            <button *ngIf= "myPage"  style= "margin-top: 10px;float:right" class="btn btn-sm btn-outline-primary" (click)="open(content, 'profile', null)">Edit Profile</button>
            <button *ngIf= "!myPage && !friends"  style= "margin-top: 10px;float:right" class="btn btn-sm btn-outline-primary">Add Friend</button>
          </h5>
          <p>Lives in:
          </p>
          <p>Works at:</p>
          <p>Studies at:
          </p>
        </div>
        <p style="margin-top: 50px; font-weight:bold"> About Me: <button class = 'btn btn-outline-primary btn-sm' style ='font:10px;float:right; font-weight: normal' (click)="open(content, 'bio', null)">edit</button></p>
        <p style="margin-top: 10px"> {{profile.about}}</p>
        <p style="padding-top: 40px; font-weight:bold"> Interests: <button class = 'btn btn-outline-primary btn-sm' style ='font:10px;float:right; font-weight: normal' (click)="open(content, 'interests', null)">edit</button></p>
        <p style="padding-top: 5px; padding-bottom: 30px"> {{interestString}}</p>
        <p style="padding-top: 5px; font-weight:bold"> Affiliations: <button class = 'btn btn-outline-primary btn-sm' style ='font:10px;float:right; font-weight: normal' (click)="open(content, 'affil', null)">edit</button></p>
        <p style="padding-top: 5px; padding-bottom: 30px"> {{afilString}}</p>
      </div>

      <div class ='col-6' style= "width: 50%; float:right; margin-right: 40px">
        <h3 style='padding-top:15px; color: black; margin-left:25px'> Timeline </h3>
        <div style="padding-top: 10px;">
          <div class = 'row' style="padding-top: 10px; padding-bottom:10px;">
              <div  *ngFor="let post of posts" style= "background-color:#F6F4F4; border-radius:20px; padding-top:20px; padding-bottom:10px; margin-top:0px; margin-bottom:20px">
                <div  style=' padding-left: 15px; width:10%; float:left;'>
                  <img src='assets/profile.jpg' width =50 height=50 >
                </div>
                <div  style=' width:50%; margin-left: 75px; min-width:500px; max-width:500px;'>
                  <p style="padding-left:0;">
                    <a routerLink='/profile/{{post.creator.username}}'>{{post.creator.fullName}}</a> &gt;
                    <a routerLink='/profile/{{post.wall.username}}'>{{post.wall.fullName}}</a> 
                  </p>
                  <p style='font-style:italic; font-size: small'> {{post.createdAt}}</p>
                  <div style=" padding-top: 10px; margin-left: 22px;">
                    <p style=" max-width:325px;min-width:325px"> {{post.content}}</p>
                 </div>
                 <div style = 'width = 100%; float:right; padding-right: 10px; margin-top: 0px'>
                   <div class="container" style="margin-bottom:20px;">
                     <div *ngIf = '!post.likedByUser' style="width= 50%;float:left">
                       <button class="btn btn-sm btn-outline-primary" (click)="postLike(post)">👍{{post.reactions.length}}</button>
                     </div>
                     <div *ngIf = 'post.likedByUser' style="width= 50%;float:left">
                       <button class="btn btn-sm btn-primary">👍{{post.reactions.length}}</button>
                     </div>
                       <div  style="width= 50%;float:right; padding-left: 10px;">
                         <button class="btn btn-sm btn-outline-primary" (click)="open(content, 'comment', post)">Comment</button>
                       </div>
                    </div>
                 </div>

                 <div *ngFor='let comment of post.children' class = 'row' style= "background-color:#F6F4F4; border-radius:20px; margin-top:10px; margin-bottom:0px; width:75%">
                   <div  style=' padding-left: 15px; width:10%; float:left;'>
                     <img src='assets/profile.jpg' width =50 height=50 >
                   </div>
                   <div  style=' width:90%; padding-left: 40px; float: left;'>
                     <p style="padding-left:0;"><a routerLink='/profile/{{comment.creator.username}}'>{{comment.creator.fullName}}</a></p>
                     <p style='font-style:italic; font-size: small'> {{comment.createdAt}}</p>
                     <div style=" padding-top: 10px; padding-left:10px;">
                       <p style=" max-width:325px;min-width:325px"> {{comment.content}} </p>
                    </div>
                 </div>
               </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <ng-template #content let-modal>
      <div *ngIf = 'editProfile'>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Profile</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="mid-width:600px; ">
        <form (ngSubmit)="upadteProfile(profile)" #profile="ngForm" style="mid-width:600px;">
          <div class="form-group">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Education</label>
                    <input type="email" class="form-control" name="education" [(ngModel)]="model.education" #education="ngModel"  placeholder="Education" required>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Work/Employment</label>
                    <input type="email" class="form-control" name="work" [(ngModel)]="model.work" #work="ngModel"  placeholder="Employment" required>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Location</label>
                    <input type="email" class="form-control" name="location" [(ngModel)]="model.location" #location="ngModel" placeholder="Location" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" >Post</button>
          </div>
        </form>
      </div>
      </div>
      <div *ngIf = 'comment'>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Write a Comment!</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
          <form (ngSubmit)="postComment(comment)" #comment="ngForm">
            <div class="form-group">
              <div class="form-group">
                <textarea class="form-control" name="content" [(ngModel)]="model.email" #email="ngModel" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-dark">Post</button>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf = 'editBio'>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Edit Bio</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
          <form (ngSubmit)="updateBio(bio)" #bio="ngForm">
            <div class="form-group">
              <div class="form-group">
                <textarea class="form-control" name="content" [(ngModel)]="model.email" #email="ngModel" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-dark">Post</button>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf = 'editInterests'>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Edit Interests</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
          <form (ngSubmit)="updateInterests(interests)" #interests="ngForm">
            <div class="form-group">
              <div class="form-group">
                <tag-input  name="interests" theme='minimal' placeholder="add interest" [(ngModel)]="interest" [editable]='true' #interests="ngModel" aria-describedby="emailHelp" placeholder="Interests" required></tag-input>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-dark">Post</button>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf = 'editAffil'>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Edit Affiliations</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
          <form (ngSubmit)="updateAffiliations(affil)" #affil="ngForm">
            <div class="form-group">
              <div class="form-group">
                <tag-input  name="affiliations" theme='minimal' placeholder="add affiliation" [(ngModel)]="afil" [editable]='true' #afill="ngModel" aria-describedby="emailHelp" placeholder="Affiliations" required></tag-input>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-dark">Post</button>
            </div>
          </form>
        </div>
      </div>
    </ng-template>
