<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <div class="spacer"></div>
        <div class="flex-row space-between">
          <div class="flex-row">
            <div class="flex-col">
              <app-profile-picture [url]="profile.profilePicture" [size]="'128px'"></app-profile-picture>
              <div class="spacer small"></div>
              <h5>{{ profile.fullName }}</h5>
              <div>{{ profile.username }}</div>
            </div>
            <div class="spacer"></div>
            <div>
              <div><strong>Email</strong></div>
              <div>{{ profile.email || '---' }}</div>
              <div class="spacer small"></div>
              <div><strong>About me</strong></div>
              <div>{{ profile.about || '---' }}</div>
              <div class="spacer small"></div>
              <div><strong>Affiliations</strong></div>
              <div>{{ toString(profile.affiliations) }}</div>
              <div class="spacer small"></div>
              <div><strong>Interests</strong></div>
              <div>{{ toString(profile.interests) }}</div>
            </div>
          </div>
          <button *ngIf="myPage()" class="btn btn-warning">Edit</button>
          <button *ngIf="!isFriend" (click)="addFriend()" class="btn btn-success">Add Friend</button>
        </div>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <app-feed *ngIf="user" [wall]="user"></app-feed>

  <ng-template #content let-modal>
    <div *ngIf='editProfile'>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Profile</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="upadteProfile(profile)" #profile="ngForm">
          <div class="form-group">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Education</label>
                    <input type="email" class="form-control" name="education" [(ngModel)]="model.education"
                      #education="ngModel" placeholder="Education" required>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Work/Employment</label>
                    <input type="email" class="form-control" name="work" [(ngModel)]="model.work" #work="ngModel"
                      placeholder="Employment" required>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Location</label>
                    <input type="email" class="form-control" name="location" [(ngModel)]="model.location"
                      #location="ngModel" placeholder="Location" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark">Post</button>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf='comment'>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Write what's on your mind!</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="postComment(comment)" #comment="ngForm">
          <div class="form-group">
            <div class="form-group">
              <textarea class="form-control" name="content" [(ngModel)]="model.email" #email="ngModel"
                id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark">Post</button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf='editBio'>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Bio</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateBio(bio)" #bio="ngForm">
          <div class="form-group">
            <div class="form-group">
              <textarea class="form-control" name="content" [(ngModel)]="model.email" #email="ngModel"
                id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark">Post</button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf='editInterests'>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Interests</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateInterests(interests)" #interests="ngForm">
          <div class="form-group">
            <div class="form-group">
              <tag-input name="interests" theme='minimal' placeholder="add interest" [(ngModel)]="interest"
                [editable]='true' #interests="ngModel" aria-describedby="emailHelp" placeholder="Interests" required>
              </tag-input>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark">Post</button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf='editAffil'>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Affiliations</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateAffiliations(affil)" #affil="ngForm">
          <div class="form-group">
            <div class="form-group">
              <tag-input name="affiliations" theme='minimal' placeholder="add affiliation" [(ngModel)]="afil"
                [editable]='true' #afill="ngModel" aria-describedby="emailHelp" placeholder="Affiliations" required>
              </tag-input>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark">Post</button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>