<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: 100vh;
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>
<app-header></app-header>
<body>
  <div class="container">
      <div class ='col-sm-5 ' style="background-color:#F6F4F4; margin-top:30px; border-radius:20px; width: 80%; float:left">
        <div  style='padding-top:30px; margin-bottom: 20px; width:10%; float:left;'>
          <img src='assets/profile.jpg' width =120 height=120 >
        </div>
        <div  style='padding-top:30px; width:100%; padding-left: 130px;'>
          <h5  style="padding-left:0;">{{profile.fullName}}
            <button *ngIf= "!myPage && friends"  style= "margin-top: 10px;float:right" class="btn btn-sm btn-outline-primary">Add Friend</button>
            <button *ngIf= "myPage"  style= "margin-top: 10px;float:right" class="btn btn-sm btn-outline-primary" (click)="open(content, 'profile', null)">Edit Profile</button>
            <button *ngIf= "!myPage && !friends"  style= "margin-top: 10px;float:right" class="btn btn-sm btn-outline-primary">Add Friend</button>
          </h5>
          <p>Lives in:
          </p>
          <p>Works at:</p>
          <p>Studies at:
          </p>
        </div>
        <p style="margin-top: 50px; font-weight:bold"> About Me: <button class = 'btn btn-outline-primary btn-sm' style ='font:10px;float:right; font-weight: normal' (click)="open(content, 'bio', null)">edit</button></p>
        <p style="margin-top: 10px"> {{profile.about}}</p>
        <p style="padding-top: 40px; font-weight:bold"> Interests: <button class = 'btn btn-outline-primary btn-sm' style ='font:10px;float:right; font-weight: normal' (click)="open(content, 'interests', null)">edit</button></p>
        <p style="padding-top: 5px; padding-bottom: 30px"> {{interestString}}</p>
        <p style="padding-top: 5px; font-weight:bold"> Affiliations: <button class = 'btn btn-outline-primary btn-sm' style ='font:10px;float:right; font-weight: normal' (click)="open(content, 'affil', null)">edit</button></p>
        <p style="padding-top: 5px; padding-bottom: 30px"> {{afilString}}</p>
      </div>

      <div class ='col-6' style= "width: 50%; float:right; margin-right: 40px">
        <h3 style='padding-top:15px; color: black; margin-left:25px'> Timeline </h3>
        <div style="padding-top: 10px;">
          <div class = 'row' style="padding-top: 10px; padding-bottom:10px;">
              <div  *ngFor="let post of posts" style= "background-color:#F6F4F4; border-radius:20px; padding-top:20px; padding-bottom:10px; margin-top:0px; margin-bottom:20px">
                <div  style=' padding-left: 15px; width:10%; float:left;'>
                  <img src='assets/profile.jpg' width =50 height=50 >
                </div>
                <div  style=' width:50%; margin-left: 75px; min-width:500px; max-width:500px;'>
                  <p style="padding-left:0;">
                    <a routerLink='/profile/{{post.creator.username}}'>{{post.creator.fullName}}</a> &gt;
                    <a routerLink='/profile/{{post.wall.username}}'>{{post.wall.fullName}}</a> 
                  </p>
                  <p style='font-style:italic; font-size: small'> {{post.createdAt}}</p>
                  <div style=" padding-top: 10px; margin-left: 22px;">
                    <p style=" max-width:325px;min-width:325px"> {{post.content}}</p>
                 </div>
                 <div style = 'width = 100%; float:right; padding-right: 10px; margin-top: 0px'>
                   <div class="container" style="margin-bottom:20px;">
                     <div *ngIf = '!post.likedByUser' style="width= 50%;float:left">
                       <button class="btn btn-sm btn-outline-primary" (click)="postLike(post)">👍{{post.reactions.length}}</button>
                     </div>
                     <div *ngIf = 'post.likedByUser' style="width= 50%;float:left">
                       <button class="btn btn-sm btn-primary">👍{{post.reactions.length}}</button>
                     </div>
                       <div  style="width= 50%;float:right; padding-left: 10px;">
                         <button class="btn btn-sm btn-outline-primary" (click)="open(content, 'comment', post)">Comment</button>
                       </div>
                    </div>
                 </div>

                 <div *ngFor='let comment of post.children' class = 'row' style= "background-color:#F6F4F4; border-radius:20px; margin-top:10px; margin-bottom:0px; width:75%">
                   <div  style=' padding-left: 15px; width:10%; float:left;'>
                     <img src='assets/profile.jpg' width =50 height=50 >
                   </div>
                   <div  style=' width:90%; padding-left: 40px; float: left;'>
                     <p style="padding-left:0;"><a routerLink='/profile/{{comment.creator.username}}'>{{comment.creator.fullName}}</a></p>
                     <p style='font-style:italic; font-size: small'> {{comment.createdAt}}</p>
                     <div style=" padding-top: 10px; padding-left:10px;">
                       <p style=" max-width:325px;min-width:325px"> {{comment.content}} </p>
                    </div>
                 </div>
               </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <ng-template #content let-modal>
      <div *ngIf = 'editProfile'>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Profile</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="mid-width:600px; ">
        <form (ngSubmit)="upadteProfile(profile)" #profile="ngForm" style="mid-width:600px;">
          <div class="form-group">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Education</label>
                    <input type="email" class="form-control" name="education" [(ngModel)]="model.education" #education="ngModel"  placeholder="Education" required>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Work/Employment</label>
                    <input type="email" class="form-control" name="work" [(ngModel)]="model.work" #work="ngModel"  placeholder="Employment" required>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Location</label>
                    <input type="email" class="form-control" name="location" [(ngModel)]="model.location" #location="ngModel" placeholder="Location" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" >Post</button>
          </div>
        </form>
      </div>
      </div>
      <div *ngIf = 'comment'>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Write a Comment!</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
          <form (ngSubmit)="postComment(comment)" #comment="ngForm">
            <div class="form-group">
              <div class="form-group">
                <textarea class="form-control" name="content" [(ngModel)]="model.email" #email="ngModel" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-dark">Post</button>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf = 'editBio'>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Edit Bio</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
          <form (ngSubmit)="updateBio(bio)" #bio="ngForm">
            <div class="form-group">
              <div class="form-group">
                <textarea class="form-control" name="content" [(ngModel)]="model.email" #email="ngModel" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-dark">Post</button>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf = 'editInterests'>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Edit Interests</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
          <form (ngSubmit)="updateInterests(interests)" #interests="ngForm">
            <div class="form-group">
              <div class="form-group">
                <tag-input  name="interests" theme='minimal' placeholder="add interest" [(ngModel)]="interest" [editable]='true' #interests="ngModel" aria-describedby="emailHelp" placeholder="Interests" required></tag-input>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-dark">Post</button>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf = 'editAffil'>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Edit Affiliations</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
          <form (ngSubmit)="updateAffiliations(affil)" #affil="ngForm">
            <div class="form-group">
              <div class="form-group">
                <tag-input  name="affiliations" theme='minimal' placeholder="add affiliation" [(ngModel)]="afil" [editable]='true' #afill="ngModel" aria-describedby="emailHelp" placeholder="Affiliations" required></tag-input>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-dark">Post</button>
            </div>
          </form>
        </div>
      </div>

    </ng-template>

</body>
