<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg " style="background-color: #1A71B3;">
  <a class="navbar-brand" style="color: white;" href="#"><strong>PennBook</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink='/profile' routerLinkActive="active" href="#">Profile<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/feed' routerLinkActive="active" href="#">Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = '/friends' routerLinkActive="active" href="#">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink= '/chat' routerLinkActive="active" href="#">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink= '/visualizer' routerLinkActive="active" href="#">Visualizer</a>
      </li>
    </ul>
  </div>
  <form class="form-inline" style="text-align:center;" >
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary-success btn-light" type="submit">Search</button>
  </form>
</nav>
