<div *ngIf="!editing">
  {{ value }} <span *ngIf="!editable && !value">---</span>  
  <button *ngIf="editable && value" class="btn btn-warning" type="button" (click)="edit()">Edit</button>
  <button *ngIf="editable && !value" class="btn btn-success" type="button" (click)="edit()"><fa-icon [icon]="iconAdd"></fa-icon>&nbsp;Add</button>
  <button *ngIf="deletable && value" class="btn btn-danger" type="button" (click)="delete()">Remove</button>
</div>
<div *ngIf="editing" class="input-group">
  <input type="text" class="form-control" [(ngModel)]="value">
  <div class="input-group-append">
    <button class="btn btn-success" type="button" (click)="save()"><fa-icon [icon]="iconSave"></fa-icon></button>
  </div>
<div>

</div>