.chat {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 20%;
  width: 80%;
  overflow: hidden;
  height: calc(100% - 54px);
}

.threads {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 20%;
  overflow: hidden;
  height: calc(100% - 54px);
  border-right: 1px solid rgba(0, 0, 0, 0.2);

}

.threads .items {
  height: calc(100% - 75px);
  overflow-y: auto;
}

.threads .items > div {
  background-color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.threads .items > div:hover {
  background-color: #eee;
}

.threads .items > div.active {
  background-color: #ddd;

}

.threads .items > div .name {
  font-weight: bold;
}

.title {
  padding: 20px;
  height: 75px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
}

.messages {
  position: absolute;
  width: 100%;
  height: calc(100% - 150px);
  overflow-y: auto;
  padding: 0 10px;
}


.bottom {
  position: absolute;
  height: 75px;
  width: 100%;
  bottom: 0;
  background-color: white;
  padding: 20px;
}

.bottom .messageInput {
  width: calc(100% - 80px);
  padding-right: 20px;
}

.bottom > * {
  display: inline-block;
}

.messages > div > span {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 10px;
  color: white;
  background-color: #1a71b3;
  border-radius: 10px;
}

.messages .user {
  font-weight: bold;
}