<html>
  <head>
  </head>
  <app-header></app-header>
  <body>
      <div class="chat_window">
      <div class="top_menu">
          <div class="title">Chat</div>
      </div>

      <div *ngFor="let item of messageArray">
            <span><strong>{{item.user}} : </strong> {{item.message}}</span>
      </div>


      <div class="bottom_wrapper clearfix">

        <div class="message_input_wrapper">
            <input id="user" class="message_input" [(ngModel)] = "user" placeholder="Enter username" />
        </div>
        <div class="message_input_wrapper">
            <input id="room" class="message_input" [(ngModel)] = "room" placeholder="chatID" />
        </div>
        <button class="send_message" (click)= "join()"> Join </button>
        <button class="send_message" (click)= "leave()"> Leave </button>
          <div class="message_input_wrapper">
              <input id="message" class="message_input" [(ngModel)] = "message" placeholder="Type your message here..." />
          </div>
          <button class="send_message" (click)= "sendMessage()"> Send </button>

      </div>
  </div>

      <script src="/js/socket.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/rexeze/formatTimeStamp/src/index-cdn.js"></script>
      <script src="/js/chat.js"></script>

  </body>
</html>
