<html>

<head>
</head>
<app-header></app-header>

<body>
    <div class="threads">
        <h3 class="title">Chats</h3>
        <div class="items">
            <div [routerLink]="['/chat']" [queryParams]="{ new: true}" routerLinkActive="active">
                <span>
                    <div class="name">Start a new chat</div>
                    <div>Select friend</div>
                </span>
            </div>
            <div *ngFor="let item of chats"  [routerLink]="['/chat']" [queryParams]="{ id: item.chatId}" routerLinkActive="active">
                <span>
                    <div class="name">{{item.name}}</div>
                    <div *ngFor="let user of item.participants"> - {{user}}</div>
                </span>
            </div>
        </div>
    </div>
    <div class="chat">
        <div *ngIf="chat != null; then chatBlock else noChatBlock"></div>
        <ng-template #chatBlock>
            <div class="title">
                <h3>{{chat.name}}</h3>
                <button type="button" class="btn btn-danger" (click)="removeChat()">Leave chat</button>
            </div>

            <div class="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                <div *ngFor="let item of chat.messages">
                    <span>
                        <div class="user">{{item.creator}}</div>
                        <div class="content">{{item.content}}</div>
                    </span>
                </div>
            </div>

            <div class="bottom">
                <div class="messageInput"><input id="message" type="text" class="form-control" [(ngModel)]="message"
                        placeholder="Type your message here..." /></div>
                <div>
                    <button type="button" class="btn btn-primary" (click)="sendMessage()"> Send </button>
                </div>
            </div>
        </ng-template>
        <ng-template #noChatBlock>
                <h3 class="title">Start new chat</h3>
        </ng-template>


        <script src="/js/socket.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/rexeze/formatTimeStamp/src/index-cdn.js"></script>
        <script src="/js/chat.js"></script>
    </div>
</body>

</html>